ItemDef(
    legacy_name: "Block of Sand",
    legacy_description: "A block of sand, barely holding its shape.",
    kind: Ingredient(
        descriptor: "Sand",
    ),
    quality: Common,
    tags: [],
)
